<div class="center jumbotron">
  <h1>Managing your assests just got easier</h1>

  <h2>
    Go ahead and sign up for a free account!!
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>