<div class="modal fade" id="ownerModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="">Create Owner</h4>
      </div>
      <div class="modal-body">
        <%= form_for @owner do |f| %>
	      <%= f.label :name, "Name" %>
	      <%= f.text_field :name %>
	      <%= f.label :client, "Client" %>
	      <%= f.text_field :client %>
	      <%= f.label :process, "Process" %>
	      <%= f.text_field :process %>  
        </div>
        <div class="modal-footer">
          <%= f.submit "Create", class: "btn btn-primary"%>
   		  <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
