<% provide(:title, "Edit User") %>
<h1>Update your profile</h1>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for @user do |f| %>
		  <%= render 'shared/error_messages' %>

		  <%= f.label :name, "Name" %>
		  <%= f.text_field :name, class: 'form-control' %>

		  <%= f.label :employee_id, "Employee Id" %>
		  <%= f.text_field :employee_id, class: 'form-control' %>

		  <%= f.label :email, "Email" %>
		  <%= f.text_field :email, class: 'form-control' %>

		  <%= f.label :password, "Password" %>
		  <%= f.password_field :password, class: 'form-control' %>

		  <%= f.label :password_confirmation, "Confirmation" %>
		  <%= f.password_field :password_confirmation, class: 'form-control' %>

		  <%= f.submit "Save", class: "btn btn-primary" %>
		<% end %>
		
	</div>
</div>