<div style="width: 50%; margin: 0 auto;">
<%= link_to "Add Asset", new_asset_path, class: "btn btn-default" %>
<button class="btn btn-default" data-toggle="modal" data-target="#ownerModal">Create Owner</button>

<button class="btn btn-default" data-toggle="modal" data-target="#vendorModal">Create Vendor</button>
</br></br>
</div>

<%= render 'vendors/vendor' %>
<%= render 'owners/owner' %>
<%= render 'assets/asset' %>
<%= render 'assets/history' %>