<div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="">Create Order</h4>
      </div>
      <div class="modal-body">
        <%= form_for @order, :html => { :target => "hiddenFrame" } do |f| %>
          <%= f.label :name, "Name" %>
          <%= f.text_field :name, id: "orderName" %>
          <%= f.label :scanned_file, "File " %>
          <%= f.file_field :scanned_file, id: "orderFile" %>
      </div>
      <div class="modal-footer">
        <%= f.submit "Create", class: "modalSubmit btn btn-primary" %>
        <% end %>
      </div>
     </div>
  </div>
</div>

<style>
  .hide { position:absolute; top:-1px; left:-1px; width:1px; height:1px; }
</style>

<iframe name="hiddenFrame" class="hide"></iframe>