
<div class="container-fluid">


<table id="assets-table", data-source="<%= user_path(format: :json) %>" class="display">
  <thead>
    <tr>
      <th></th>
      <th id="assetName"></th>
      <th id="assetLocation"></th>
      <th></th>
      <th id="assetType"></th>
      <th id="assetOwner"></th>
      <th id="assetAssignedTo"></th>
      <th id="assetStatus"></th>
      <th id="assetModel"></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th id="assetVendor"></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <th></th>
      <th class="all">Name</th>
      <th class="desktop">Location</th>
      <th class="none">Description</th>
      <th class="all">Type</th>
      <th class="desktop">Owner</th>
      <th class="all">Assigned to</th>
      <th class="all">Status</th>
      <th class="desktop">Model Number</th>
      <th class="none">Serial Number</th>
      <th class="none">MAC address</th>
      <th class="none">Purchase Order</th>
      <th class="none">Purchase Date</th>
      <th class="desktop">Vendor</th>
      <th class="none">Cost</th>
      <th class="none">AMC</th>
      <th class="none">AMC amount</th>
      <th class="none">Expiry Date</th>
      <th class="none">Status Date</th>
      <th class="none">Warranty Type</th>
      <th class="none">Image</th>
      <th class="none">IS type</th>
      <th class="none">Integrity</th>
      <th class="none">Confidentiality</th>
      <th class="none">Note</th>
      <th class="all">Edit</th>
      <th class="all">Deactivate</th>
      <th class="desktop">History</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</div>



<%# options = [["Status"]] + Asset::STATUS.collect{ |s| [s, s]} + [["Owner"]] + Owner.all.collect{ |o| [o.name, o.id] } + [["Assigned to"]] + User.all.collect{ |u| [u.name, u.id] } + [["Type"]] + Asset::TYPE.collect{ |s| [s, s]} %>

<%#= select(:search, "category", options ,{disabled: ["Owner", "Status", "Assigned to", "Type"], include_blank: "" } ) %>