<ul>
  <% @versions.each do |version| %>
    <li>
      <b>Updates logged in at</b> <%= l(version.created_at, format: "%-d.%m.%Y %H:%M:%S %Z") %><br/>
      <b>Event ID:</b> <%= version.id %>
      <b>Target:</b> <%= version.item_type %>
      <small>(ID: <%= version.item_id %>)</small>; <b>Action : </b> <%= version.event %><br/>
      <b>Remote address:</b> <%= version.ip %><br/>
      <b>User:</b>
      <% if version.whodunnit && version.whodunnit != 'Guest' %>
        <% user = User.find_by_id(version.whodunnit) %>
        <% if user %>
          <%= user.email %>
        <% end %>
      <% else %>
        Guest
      <% end %>
      <div>
        <pre>
        <b>Changeset:</b>
        <%version.changeset.each do |key, value| %>
          <%= "#{key} - #{value}" %>
        <% end %>
        </pre>
      </div>
    </li>
  <% end %>
</ul>
