<div class="modal fade" id="historyModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="">History</h4>
      </div>
      <div class="modal-body">
        <%= image_tag "images/loading.gif" %>
      </div>
    </div>
  </div>
</div>