<% provide(:title, 'Asset Creation') %>
<h3>Asset Creation</h3>
<%= render 'orders/order' %>
<a class="btn btn-default pull-right" data-toggle="modal" data-target="#orderModal" id="createOrder">Create Order</a>
<div class="row">
    <div class="form-group">
    <%= form_for(@asset) do |f| %>
    <%= render'shared/asset_error_messages' %>

    <div class="col-md-3">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :location, "Location" %>
      <%= f.text_field :location, class: 'form-control' %>

      <%= f.label :description %>
      <%= f.text_field :description, class: 'form-control' %>

      <%= f.label :asset_type, "Type" %>
      <%= f.select(:asset_type, options_for_select( Asset::TYPE)) %>

      <%= f.label :owner_id %>
      <%= f.collection_select(:owner_id, Owner.all, :id, :name, {prompt: 'Select Owner'}) %>

      <%= f.label :assigned_to, "Assigned to" %>
      <%= f.collection_select(:assigned_to, User.all, :id, :name, {prompt: 'Select Employee'}) %>
    
      <%= f.label :status, "Status" %>
      <%= f.select(:status, options_for_select( Asset::STATUS))%>

      </div>
      <div class="col-md-3">

      <%= f.label :model_no, "Model Number" %>
      <%= f.text_field :model_no, class: 'form-control' %>

      <%= f.label :serial_no, "Serial Number" %>
      <%= f.text_field :serial_no, class: 'form-control' %>

      <%= f.label :mac_address, "MAC Address" %>
      <%= f.text_field :mac_address, class: 'form-control' %>

      <%= f.label :purchase_date, "Purchase Date" %>
      <div class='input-group date datetimepicker'>
        <%= f.text_field :purchase_date , class: "form-control", data_date_format: "YYYY/MM/DD"%>
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>

      <%= f.label :order_id, "Purchase Order" %>
      <%= f.collection_select(:order_id, Order.all, :id, :name, {prompt: 'Select Order'}) %>

      <%= f.label :vendor_id, "Vendor" %>
      <%= f.collection_select(:vendor_id, Vendor.all, :id, :name, {prompt: 'Select Vendor'}) %>

      <%= f.label :cost, "Cost" %>
      <div class="input-group">
        <span class="input-group-addon">&#x20B9;</span>
        <%= f.text_field :cost, class: 'form-control'%>
      </div>
      
      </div>
      <div class="col-md-3">

      <%= f.label :amc, "AMC" %>
      <%= f.check_box :amc, class: 'form-control' %>

      <div id='amc' style='display: none'>
        <%= f.label :amc_amount, "AMC Amount" %>
        <div class="input-group">
          <span class="input-group-addon">&#x20B9;</span>
          <%= f.text_field :amc_amount, class: 'form-control' %>
        </div>
      </div>

      <%= f.label :expiry_date, "Expiry Date" %>
      <div class='input-group date datetimepicker' >
        <%= f.text_field :expiry_date , class: "form-control", data_date_format: "YYYY/MM/DD"%>
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
      
      <%= f.label :status_date, "Status Date" %>
       <div class='input-group date datetimepicker'>
        <%= f.text_field :status_date , class: "form-control", data_date_format: "YYYY/MM/DD"%>
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>

      <%= f.label :warranty_type, "Warranty Type" %>
      <%= f.select(:warranty_type, options_for_select( Asset::WARRANTY_TYPE),include_blank: true )%>

      <%= f.label :image_url, "Image upload" %>
      <%= f.file_field :image_url, class: 'form-control' %>

      <%= f.label :IS_type, "is type" %>
      <%= f.text_field :IS_type, class: 'form-control' %>

      </div>
      <div class="col-md-3">

      <%= f.label :integrity, "Integrity" %>
      <%= f.select(:integrity, options_for_select( Asset::HML )) %>

      <%= f.label :Confidentiality, "Confidentiality" %>
      <%= f.select(:Confidentiality, options_for_select( Asset::HML )) %>

      <%= f.label :note, "Note" %>
      <%= f.text_area :note, style: 'resize: none' %>

      <%= f.submit "Add Asset",  class: "btn btn-primary" %>
    <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  var checkbox = document.getElementById('asset_amc');
  var amc_details = document.getElementById('amc');
  checkbox.onchange = function() {
    if(this.checked) {
      amc_details.style['display'] = 'block'
    }
    else {
      amc_details.style['display'] = 'none'
    }
  }

</script>