<footer class="footer">
  <small>
    The <a href="#">Asset Management Application</a>
    by <a href="#">Sachu Thomas</a>
  </small>
  <nav>
    <ul>
      <li><a href="#">Website</a></li>
    </ul>
  </nav>
</footer>