<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Asset Management Portal", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav pull-right">        
        	<% if logged_in? %>
              <li><%= link_to "Home",  current_user %></li>
	          	<li class="dropdown">
	            	<a href="#" class="dropdown-toggle" data-toggle="dropdown"> <%= current_user.name %> <b class="caret"></b></a>
		            <ul class="dropdown-menu">
		              <li><%= link_to "Edit Profile", edit_user_path(current_user) %></li>
		              <li class="divider"></li>
		              <li><%= link_to "Log out", logout_path, method: "delete" %></li>
		            </ul>
		        </li>
        	<% else %>
              <li><%= link_to "Home", root_path %></li>
          		<li><%= link_to "Log in", login_path %></li>
        	<% end %>
        </li>
      </ul>
    </nav>
  </div>
</header>